<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkcms.service.mapper.category.CmsCategoryModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.thinkcms.service.entity.category.CmsCategoryModel">
        <id column="category_id" property="categoryId" />
        <result column="model_id" property="modelId" />
        <result column="template_path" property="templatePath" />
        <result column="create_id" property="createId" />
        <result column="modified_id" property="modifiedId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_id, model_id, template_path, create_id, modified_id, gmt_create, gmt_modified
    </sql>

</mapper>
