<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkcms.service.mapper.content.ContentFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.thinkcms.service.entity.content.ContentFile">
        <id column="id" property="id" />
        <result column="content_id" property="contentId" />
        <result column="user_id" property="userId" />
        <result column="sys_resource_id" property="sysResourceId" />
        <result column="file_path" property="filePath" />
        <result column="file_full_path" property="fileFullPath" />
        <result column="file_name" property="fileName" />
        <result column="downs" property="downs" />
        <result column="sort" property="sort" />
        <result column="description" property="description" />
        <result column="create_id" property="createId" />
        <result column="modified_id" property="modifiedId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content_id, user_id, sys_resource_id, file_path, file_full_path, file_name, downs, sort, description, create_id, modified_id, gmt_create, gmt_modified
    </sql>

</mapper>
